/*-----------We import the font family (Poppins)-------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

/*--------------We set the padding and marging at 0 so that
the elements of div container that we are going to create exploit
all the spaces of the body---------*/

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Poppins ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*!*----------We create the nav which will contain the menu buttons and logo*!------------*/

/*1) Here we style the container-nav*/

.container-nav {
    max-width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    border-bottom: 1px solid #dedcdc;
}

/*2) Here we style our logo*/

.logo-pixam {
    width:100px;
    height:60px;
}

/*3) Here we style the menu button nav*/

.container-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 14px;
}

/*4) Here we style the button of the menu of the nav*/

.hover-menu {
    color: black;
    text-decoration: none;
}

.hover-menu:hover {
    color: #02be6e;
}

.hover-mypixam {
    color: #02be6e;
}

.hover-mypixam:hover {
    color:#028f53;
}

.logout-button {
    background-color: white;
    border: none;
    font-size: 14px;
    font-family: Poppins;
}

.logout-button:hover {
    color: #02be6e;
}

.active-link {
    color: #02be6e;
}

/*5) Here we style the icon and text of the login button*/

.container-my-Pixam {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #02be6e;
    font-size: 14px;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}

#link-my-pixam {
    display: none;
}

.container-nav2 {
    display:none;
}

.mypixam-link {
    color: #02be6e;
    text-decoration: none;
}

.mypixam-link:hover {
    color: #028f53;
    text-decoration: none;
}

/*!*----------We style the nav for the tablet version *!------------*/

@media screen and (max-width: 992px) {
    .hover-mypixam h{
        display: none;
    }
    .container-nav {
        gap: 30px;
    }
}

/*!*----------We style the nav for the smartphone version *!------------*/

@media screen and (max-width: 576px) {
    .app-header {
        display: none;
        /*z-index: -1;*/
    }
}


/*!*-------------------------------------------*!*/

